<section class="about-us">
    <div class="about">
      <div class="text">
        <h2 dir="rtl">من نحن</h2>
        <h5 dir="rtl">Marmoxboard <span>Company</span></h5>
          <p dir="rtl">شركة مارموكــس مصــر هــى إحــدى شــركات كيماويــات البنــاء الحديــث ولــدى الشــركة
            شــبكة مبيعــات متعــددة فــى أنحــاء العالــم وتخــدم شركة مارموكــس عمالئهــا الكــرام
            وتفتخــر بكونهــا بيــن الشــركات الرائــدة المصنعــة لمــواد البنــاء الحديث التــى توفــر فــى
            الوقــت والمجهــود والتكلفــة.
             ا
            شــركة مارموكــس قدمت منتجات وحلــول مبتكــرة عاليــة الجــودة ، ســهلة األسـتخدام وأيضـ
            صديقـة للبيئـة ، وهدفنـا توفيـر حلـول و بدائل إلـى قطـاع البنـاء كـى تسـاعد علـى تحسـين
            وكفــاءة ومعاييــر البنــاء للســوق المحلــى والدولــى. مجال البناء و العزل من أهم المجاالت التي
            شهدت تطو ًرا هائالً في العقود األخيرة ، حيث شهدنا ظهور العديد من التقنيات واألساليب الحديثة
            التي تساعد على تحسين جودة البناء وزيادة متانتها وأدائها الوظيفي.
            مارموكس بورد هـى ألـواح إنشـائية خفيفـة الوزن مصنوعـة مـن فـوم البوليسـترين المشـكل بالبثـق
            والمسـلحة مـن الوجهيـن بشـبكة مـن األليـاف الزجاجيـة والمغطـاة بطبقـة خفيفـة مـن المونـة
            األسـمنتية المعالجـة لمقاومـة الميـاه ,وتعتبـر الحـل األمثـل للعـزل الحـرارى والرطوبـة فـى
            مرحلـة واحـدة. و ذلـك ألن طبقـة المونـة األسـمنتية المعالجـة علـى وجهـى األلـواح تناسـب جميـع
            أنـواع التشـطيبات المختلفـة.
            من بين هذه األساليب الحديثة ، تأتي ألواح Marmoxboard كخيار فعال لتحسين كفاءة العزل
            الحراري والصوتي داخل المباني. فهذه األلواح تمتاز بخفة وزنها وسهولة تركيبها و تقطيعها،
            كما توفر مقاومة فائقة للحرارة والرطوبة والصدمات.
            تستخدم ألواح Marmoxboard بشكل شائع في العديد من التطبيقات داخل المباني ، بما في ذلك
            األرضيات والحوائط واألسقف والحمامات وغيرها. وبفضل قدرتها على تحسين كفاءة العزل
            الحراري والصوتي ومنع تسريب الرطوبة ، تساعد هذه األلواح في تحسين جودة المناخ داخل
            المباني وتوفير الطاقة. 
        </p>
        <br>
        <br>
        <br>

        <!-- <div class="data">
        <a href="#" class="hire">Hire Me</a>
        </div> -->
      </div>
    </div>
  </section>
